<html>
    <head>
        <title> <%= title%></title>
    </head>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <%- style %>
    <body>
        <%- include('_header'); %>
        <%if(flash.success && flash.success.length > 0) {%> 
            <h5>
                <%= flash.success%>
            </h5>
         <% } %>   


        <%- body %>

        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>